.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width:100%;
  margin: 0 auto;
  height:80vh;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}